@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0; /* Black text */
  --background-rgb: 255, 255, 255; /* White background */
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-rgb));
}

.map-container {
  height: 100%;
  width: 100%;
}

.filterBox {
    padding: 0.75rem 1rem;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #d9d9d9;
    background: white;
    margin-bottom: 1rem;
    position: relative;
}

.filterInput {
    width: 100%;
    padding: 0.5rem 2rem 0.5rem 1rem; /* Adjust padding to accommodate the icon */
    border: none;
    border-radius: 10px;
    background: white;
    outline: none;
    font-size: 1rem;
    color: #333;
    appearance: none; /* Remove default arrow in dropdown */
}

.chevronIcon {
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    pointer-events: none; /* Ensure icon doesn't intercept clicks */
}
